{% extends "spotes/base.html" %}
{% load static %}
{% block content %}
<div class="row">
        <div class="d-flex justify-content-end">
            <button class="btn btn-dark dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
                <img src="{{ user_data.icon }}" id="icon" alt="{{ user_data.name }}" style = "width: 30px;">
                {{ user_data.name }}
            </button>
            <ul class="dropdown-menu dropdown-menu-dark">
                <li><a href="{% url 'logout' %}" class="dropdown-item" href="#">Logout</a></li>
            </ul>
        </div>

        <div class="text-center" style="margin-top:5px">
            <h1>Top Tracks</h1>
    <ul>
            <li>{{ track_name }}</li>
    </ul>
        </div>
</div>
{% endblock content %}
